
Lesson-9/Lesson-9.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Lesson-9/Lesson-9.xcodeproj/xcuserdata/donatas.xcuserdatad/xcschemes/xcschememanagement.plist

Lesson-9/Lesson-9.xcodeproj/project.xcworkspace/xcuserdata/donatas.xcuserdatad/UserInterfaceState.xcuserstate
